<div class="container">
    <div class="row">
        <div class="col-6">
            <button class="btn btn-primary btn-lg" id="myBtn"> Preparar</button>
            <input type="button" class="btn btn-success btn-lg d-none" id="create_pdf" value="Generar cotizacion">  
        </div>
        <div class="col-6">
            <button class="btn btn-danger btn-lg" id="delBtn">Reiniciar</button>
        </div>
    </div>
</div>
<div class="form container text-center d-" style="max-width: none; width: 1005px;">  
    <!-- <p>Nombre del cliente: <span id="c1" class="font-weight-bold"></span></p>
    <p>Producto: <span id="c2" class="font-weight-bold"></span></p>
    <p>Fe: <span id="c3" class="font-weight-bold"></span></p>
    <p>Sucursal: <span id="c4" class="font-weight-bold"></span></p> -->
    <section id="mySec" class= "my-4">

        <div class="container">
            <h3 class="text-center">Cotizacion para publicidad radial</h3>
            <p class="text-left">Fecha de creacion</p>
            <p class="text-left">Cliente  <span id="c1" class="font-weight-bold"></span></p>
            <p class="text-left">Nombre de Contacto</p>
            <p class="text-left">Telefono de cliente</p>
            <p class="text-left">Correo del cliente</p>

            <table class="table">
                <thead>
                  <tr>
                    <th scope="col">#</th>
                    <th scope="col">Producto </th>
                    <th scope="col">Fecha de inicio</th>
                    <th scope="col">Fecha de finalizacion</th>
                    <th scope="col">Costo por dia</th>
                    <th scope="col">Cant. de dias</th>
                    <th scope="col">Total</th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <th scope="row">1</th>
                    <td><span id="c2" class="font-weight-bold"></span></td>
                    <td><span id="c3" class="font-weight-bold"></span></td>
                    <td><span id="c4" class="font-weight-bold"></span></td>
                    <td><span id="c5" class="font-weight-bold"></span></td>
                    <td><span id="c6" class="font-weight-bold"></span></td>
                  </tr>
                </tbody>
              </table>

        </div>

    </section>
</div>  
